{% block body %}
    {% if reason %}
        <p>Vous avez été banni de ESGI gaming pour la raison suivante: {{ reason }}</p>
    {% else %}
        <p>Vous avez été banni de ESGI gaming.</p>
    {% endif %}
{% endblock %}